/* Price cards */

#cardsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--darkColor);
    margin: 25px;
    list-style-type: none;
    width: 28%;
    transition: 0.3s;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.cardTitle {
    background-color: var(--darkColor);
    color: var(--white);
}

.cardDescription {
    padding: 0% 10%;
    text-align: center;
}


/* Small devices */

@media screen and (max-width: 768px) {
    .card {
        width: 40%;
    }
}


/* Extra small devices */

@media screen and (max-width: 576px) {
    .card {
        width: 65%;
    }
}