#contactSection h1 {
    text-align: center;
}

#contactSection form {
    max-width: 100%;
}

#contactSection input,
#contactSection textarea,
#contactSection button {
    margin: 2%;
    padding: 1%;
    resize: none;
}

#contactSection button {
    padding: 5%;
}

#contactSection img {
    width: 20%;
}

#contactSection a {
    text-decoration: none;
    color: black;
}

.contactIcons {
    margin-top: 2%;
}