#gallerySection img {
    margin: 0.1%;
    transition: 0.3s;
}

#gallerySection img:hover {
    transform: scale(1.1);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 576px) {
    #gallerySection img {
        width: 80%;
    }
}

@media screen and (min-width: 576px) {
    #gallerySection img {
        width: 49%;
    }
}

@media screen and (min-width: 768px) {
    #gallerySection img {
        width: 32%;
    }
}

@media screen and (min-width: 992px) {
    #gallerySection img {
        width: 24%;
    }
}

@media screen and (min-width: 1200px) {
    #gallerySection img {
        width: 19%;
    }
}