/* Variables */

:root {
    --black: black;
    --white: white;
    --darkColor: #4BA3C3;
    --lightColor: rgb(38, 81, 97);
    --gunmetal: #292C35;
}


/* Pre-made classes */

.white {
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.m10 {
    margin: 10%;
}

.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5%;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5%;
}

.ml5 {
    margin-left: 5%;
}

.pb5 {
    padding-bottom: 5%;
}

.pt5 {
    padding-top: 5%;
}


/* Pre-styled element */

.darkButton {
    max-width: 100%;
    padding: 15px 32px;
    border: none;
    border-radius: 3px;
    background-color: var(--darkColor);
    color: var(--white);
    text-decoration: none;
}

.darkButton:hover {
    background-color: var(--lightColor);
}

.darkButton.pro {
    background-color: var(--gunmetal);
}

.darkButton.pro:hover {
    background-color: #4f5464;
}

.lightButton {
    max-width: 100%;
    padding: 15px 32px;
    border: none;
    border-radius: 3px;
    background-color: var(--lightColor);
    color: var(--white);
}

.lightButton:hover {
    background-color: var(--darkColor);
    color: var(--black);
}


/* Securing old browsers */

@-ms-viewport {
    width: device-width;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


/* Whole document styling */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--gunmetal);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


/* Header styling */

header {
    height: 50.4px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;
}

header section {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav {
    height: 100%;
    display: flex;
}

header h1 {
    margin: 0 10px;
    cursor: pointer;
}

header img {
    cursor: pointer;
}

header a {
    text-decoration: none;
    padding: 16px;
    display: flex;
    align-items: center;
    color: var(--white);
}

#logo {
    width: 160px;
    margin: 0 16px;
}

.white {
    color: white;
}


/* Hamburger menu styling

[ON BIG SCREENS] */


/* Hide Hamburger */

#mainMenu label,
#hamburger {
    display: none;
}


/* Menu Items */

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    box-sizing: border-box;
}

header nav ul li:hover {
    background: var(--darkColor);
}

header nav a:hover {
    color: var(--white);
}


/* CONTACT */

*,
:before,
:after {
    box-sizing: border-box;
}

form {
    width: 320px;
    margin: 45px auto;
}

form h1 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: white;
}

hr.sep {
    background: var(--darkColor);
    box-shadow: none;
    border: none;
    height: 1px;
    width: 30%;
    margin: 0px auto 5% auto;
}

.group {
    position: relative;
    margin: 45px 0;
}

textarea {
    resize: none;
}

input,
textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -14px;
    font-size: 12px;
    color: var(--darkColor);
}

input:focus~.bar:before,
textarea:focus~.bar:before {
    width: 320px;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 5px;
    top: 0px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: var(--darkColor);
    transition: 300ms ease all;
    left: 0%;
}

.btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-box {
    text-align: center;
}


/* FOOTER STYLING */

footer {
    justify-content: space-between;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    flex-wrap: wrap;
    display: flex;
    z-index: 3;
}

footer section {
    padding: 16px;
    margin: 0;
}

footer p {
    margin: 0;
}

footer a {
    font-size: 21px!important;
    padding: 3px;
    color: var(--black);
}

footer i:hover {
    color: var(--white);
}


/* [ON SMALL SCREENS] */

@media screen and (max-width: 768px) {
    /* Show Hamburger */
    #mainMenu label {
        display: inline-block;
        padding: 0px 20px;
        font-size: 23px;
        line-height: 50px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #mainMenu label:hover {
        background: var(--darkColor);
        color: var(--white);
    }
    /* Break down menu items into vertical */
    #mainMenu ul li {
        display: block;
    }
    /* Toggle show/hide menu on checkbox click */
    #mainMenu ul {
        display: none;
    }
    #mainMenu input:checked~ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 50px;
        background: var(--lightColor);
        z-index: 2;
        width: 50%;
    }
}


/* Hero image with text */

#heroSection {
    background: url("../images/heroBackground.png") no-repeat center center;
    background-size: cover;
    height: 94vh;
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#heroSection h1 {
    font-size: 3.4rem;
    margin: 22px 24px;
    color: white;
}

@media screen and (max-width: 576px) {
    #heroSection h1 {
        font-size: 2.8rem;
        margin: 22px 24px;
    }
}


/* Price cards */

.w20 {
    width: 20%
}

.w60 {
    width: 60%;
}

.green {
    color: green;
}

.red {
    color: red;
}

#tableSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.table {
    width: 95%;
    padding: 1% 3%;
    border: 1px solid var(--darkColor);
    transition: 0.3s;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: white;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.row {
    padding: 8px;
}

.lastRow {
    justify-content: center;
    padding-top: 4%;
}

.lastRow div {
    align-items: center;
}

.table strong {
    font-size: 1.2rem;
}

.row:nth-child(even) {
    background-color: #f2f2f2
}


/* Small devices */

@media screen and (max-width: 768px) {
    .card {
        width: 40%;
    }
}


/* Extra small devices */

@media screen and (max-width: 576px) {
    .card {
        width: 65%;
    }
}

#gallerySection img {
    margin: 0.1%;
    transition: 0.3s;
}

#gallerySection img:hover {
    transform: scale(1.1);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 576px) {
    #gallerySection img {
        width: 80%;
    }
}

@media screen and (min-width: 576px) {
    #gallerySection img {
        width: 49%;
    }
}

@media screen and (min-width: 768px) {
    #gallerySection img {
        width: 32%;
    }
}

@media screen and (min-width: 992px) {
    #gallerySection img {
        width: 24%;
    }
}

@media screen and (min-width: 1200px) {
    #gallerySection img {
        width: 19%;
    }
}