/* Securing old browsers */

@-ms-viewport {
    width: device-width;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

/*Whole document styling */

body {
    margin: 0;
    font-family: sans-serif;
    display:flex; 
    flex-direction:column; 
    min-height: 100vh;
}

/* Header styling */

header {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;
}

header section {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav {
    height: 100%;
    display: flex;
}

header h1 {
    margin: 0 10px;
    cursor: pointer;
}

header img {
    cursor: pointer;
}

header a {
    text-decoration: none;
    padding: 16px;
    display: flex;
    align-items: center;
    color: black;
}

/* Hamburger menu styling

[ON BIG SCREENS] */

  /* Hide Hamburger */
  #main-menu label, #hamburger {
    display: none;
  }
  
  /* Menu Items */
  header nav ul {
    margin: 0;
    padding: 0; 
  }
  header nav ul li {
    display: inline-block;
    box-sizing: border-box;
  }
  header nav ul li:hover{
    background:gray;
  }
  header nav a:hover {
    color: white;
  }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px) {
    /* Show Hamburger */
    #main-menu label {
        display: inline-block;
        color:black;
        padding: 0px 20px;
        font-size: 23px;
        line-height: 50px;
        cursor: pointer;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
         user-select: none; /* Standard */
    }
    #main-menu label:hover {
      background: gray;
      color: white;
    }
  
    /* Break down menu items into vertical */
    #main-menu ul li {
      display: block;
    }
  
    /* Toggle show/hide menu on checkbox click */
    #main-menu ul {
      display: none;
    }
    #main-menu input:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 50px;
    background: darkgray;
    z-index: 2;
    width: 50%;
    }
  }
  
/* Footer styling */ 

footer {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    margin-top:auto; 
}
footer section {
    padding: 16px;
    margin: 0;
}
footer p {
  margin:0;
}
/* FA Icons in the footer */
footer a {
  font-size: 21px!important;
  padding: 3px;
  color: black;
}
footer i:hover {
  color: white;
}